<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	
	<div>
		<table>
			<tr>
				<td> <a href= <%=index%> > One Session Page </a> </td>
				<td> <a href= <%=real%>> Real Page </a> </td>
			</tr>
		</table>
	</div>
</body>
</html>